{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="account-page">
    <div class="account-center">
        <div class="account-box">
            <div class="account-logo">
                <h4>Employee Signup</h4>
                <a href="index-2.html"><img src="{% static 'assets/img/logo-dark.png' %}" alt=""></a>
            </div>
            <form action="{% url 'accounts:employee-signup' %}" class="form-signin" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="form-group text-center">
                    <button class="btn btn-primary account-btn" type="submit">Signup</button>
                </div>
                <div class="text-center login-link">
                    Already have an account? <a href="login.html">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    