{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Update Appointment</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="POST" action="{% url 'appointments:update-staff-appointment' object.slug %}" >
                {% csrf_token %}
                {{form.as_p}}
                
             
                <div class="m-t-20 text-center">
                    <button  type="submit" class="btn btn-primary submit-btn">Update Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
    