{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
  <div class="row">
    <div class="col-sm-4 col-3">
      <h4 class="page-title">Patients</h4>
    </div>
  </div>
  
  {% if profiles %}
    
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <div
          id="DataTables_Table_0_wrapper"
          class="dataTables_wrapper dt-bootstrap4 no-footer"
        >
         
          <div class="row">
            <div class="col-sm-12">
              <table
                class="table table-border table-striped custom-table datatable mb-0 dataTable no-footer"
                id="DataTables_Table_0"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting_asc"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-sort="ascending"
                      aria-label="Name: activate to sort column descending"
                      style="width: 142.359px"
                    >
                      Name
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Age: activate to sort column ascending"
                      style="width: 31.7344px"
                    >
                      Age
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Address: activate to sort column ascending"
                      style="width: 325.906px"
                    >
                      Address
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Phone: activate to sort column ascending"
                      style="width: 84.7188px"
                    >
                      Phone
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column ascending"
                      style="width: 191.938px"
                    >
                      Email
                    </th>
                 
                  </tr>
                </thead>
                <tbody>
                    
                    {% for profile in profiles  %}
                        
                    <tr role="row" class="odd">
                      <td class="sorting_1">
                        <img
                          width="28"
                          height="28"
                          src="{{profile.profile_picture_url}}"
                          class="rounded-circle m-r-5"
                          alt=""
                        />
                        {{profile.user.full_name|title}}
                      </td>
                      <td>{{profile.date_of_birth}}</td>
                      <td>{{profile.address}}</td>
                      <td>{{profile.phone_number}}</td>
                      <td>{{profile.user.email}}

                        {{profile.user.is_employee}}
                      </td>                      
                    </tr>
                    {% endfor %}
                        
                  
                </tbody>
              </table>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" role="status" aria-live="polite">
            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries
        </div>
    </div>
    <div class="col-sm-12 col-md-7 d-flex justify-content-end">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="paginate_button page-item">
                        <a href="?page=1" aria-label="First" class="page-link">First</a>
                    </li>
                    <li class="paginate_button page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" class="page-link">Previous</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li class="paginate_button page-item {% if num == page_obj.number %}active{% endif %}">
                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="paginate_button page-item">
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next" class="page-link">Next</a>
                    </li>
                    <li class="paginate_button page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last" class="page-link">Last</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% else %}
<h3 class="font-weight-light" >No profile available</h3>


{% endif %}
    
</div>
{% endblock content %}
