{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Doctors</h4>
        </div>
        
    </div>
    
    {% if doctors %}
        
    
        
    <div class="row doctor-grid">
        
        {% for doctor in doctors  %}
            
        <div class="col-md-4 col-sm-4  col-lg-3">
            <div class="profile-widget">
                <div class="doctor-img">
                    <a class="avatar"><img alt="" src="{{doctor.profile_picture_url}}"></a>
                </div>
                
                <h4 class="doctor-name text-ellipsis"><a >{{doctor.user.full_name}}</a></h4>
                <div class="doc-prof">{{doctor.department}}</div>
                <div class="user-country">
                    <i class="fa fa-map-marker"></i> {{doctor.address}}
                </div>
            </div>
        </div>
        {% endfor %}
            
       
    </div>
     <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" role="status" aria-live="polite">
                Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries
            </div>
        </div>
        <div class="col-sm-12 col-md-7 d-flex justify-content-end">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="paginate_button page-item">
                            <a href="?page=1" aria-label="First" class="page-link">First</a>
                        </li>
                        <li class="paginate_button page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" class="page-link">Previous</a>
                        </li>
                    {% endif %}
    
                    {% for num in page_obj.paginator.page_range %}
                        <li class="paginate_button page-item {% if num == page_obj.number %}active{% endif %}">
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        </li>
                    {% endfor %}
    
                    {% if page_obj.has_next %}
                        <li class="paginate_button page-item">
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next" class="page-link">Next</a>
                        </li>
                        <li class="paginate_button page-item">
                            <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last" class="page-link">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <h3 class="font-weight-light" >No doctors available</h3>


    {% endif %}
</div>
{% endblock content %}