{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Update Profile</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="POST" action="{% url 'profiles:patient-update-profile' profile.slug %}" enctype="multipart/form-data" >
                {% csrf_token %}
                {{form.as_p}}
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
    