{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">My Profile</h4>
        </div>

        <div class="col-sm-5 col-6 text-right m-b-30">
            <a href="{% url 'profiles:patient-update-profile' profile.slug %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
        </div>
    </div>
    {% include 'alert.html' %}
    <div class="card-box profile-header">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img class="avatar" src="{{profile.profile_picture_url}}" alt=""></a>
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 class="user-name m-t-0 mb-0">{{request.user.full_name}}</h3>
                                    <!-- <small class="text-muted">Gynecologist</small> -->
                                    
                                   
                                    <div class="staff-id">Patient Id : PATIENT-{{profile.pkid}}</div>  
                                    <div>
                                        <span class="title">Email:</span>
                                        <span class="text">{{profile.user.email}}</span>
                                    </div>                                   
                                   
                                        
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">Phone:</span>
                                        <span class="text">{{profile.phone_number}}</span>
                                    </li>
                                   
                                    <li>
                                        <span class="title">Birthday:</span>
                                        <span class="text">{{profile.date_of_birth}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Address:</span>
                                        <span class="text">{{profile.address}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Gender:</span>
                                        <span class="text">{{profile.gender}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
    <div class="profile-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
           
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="about-cont">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h3 class="card-title">Customer Data</h3>
                <div class="experience-box">
                    <ul class="experience-list">
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <a href="#/" class="name">Total Number of Completed Appointments</a>
                                    <div>{{completed_appointments_count}}</div>
                                  
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <a href="#/" class="name">Total Number of Pending Appointments</a>
                                    <div>{{pending_appointments_count}}</div>
                                 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <a href="#/" class="name">Total Number of Approved Appointments</a>
                                    <div>{{approved_appointments_count}}</div>
                                    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <a href="#/" class="name">Total Amount Spent</a>
                                    <div>{{total_amount_spent}}</div>
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-box mb-0">
                <h3 class="card-title">Experience</h3>
                <div class="experience-box">
                    <ul class="experience-list">
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <a href="#/" class="name">Joined</a>
                                    <span class="time">{{profile.created_at}}</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <a href="#/" class="name">Last Updated Profile</a>
                                    <span class="time">{{profile.updated_at}}</span>
                                </div>
                            </div>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
            </div>
           
        </div>
    </div>
</div>
{% endblock content %}
    