
{% block content %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                {% if request.user.is_patient %}
               
                <li class="{% if request.resolver_match.url_name == 'patient-home-view' %}  active {% endif %}">
                    <a href="{% url 'appointments:patient-home-view' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>        
                <li class="submenu">
                    <a  href="#"><i class="fa fa-calendar"></i> <span> Appointments</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="{% if request.resolver_match.url_name == 'all-patient-appointments' %} active {% endif %}" ><a href="{% url 'appointments:all-patient-appointments' %}">All Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'pending-patient-appointments' %} active {% endif %}"><a href="{% url 'appointments:pending-patient-appointments' %}">Pending Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'approved-patient-appointments' %} active {% endif %}"><a href="{% url 'appointments:approved-patient-appointments' %}">Approved Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'completed-patient-appointments' %} active {% endif %}"><a href="{% url 'appointments:completed-patient-appointments' %}">Completed Appointments</a></li>
                    </ul>
                </li>
                <li class="{% if request.resolver_match.url_name == 'create-patient-appointment' %}  active {% endif %}" >
                    <a href="{% url 'appointments:create-patient-appointment' %}"><i class="fa fa-edit"></i> <span>Create Appointment</span></a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'patient-profile' %}  active {% endif %}">
                    <a href="{% url 'profiles:patient-profile' request.user.patient.slug %}"><i class="fa fa-user-md"></i> <span>Profile</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'patient-update-profile' %}  active {% endif %}">
                    <a href="{% url 'profiles:patient-update-profile' request.user.patient.slug %}"><i class="fa fa-user-md"></i> <span>Update Profile</span></a>
                </li>    
                {% elif request.user.is_employee and request.user.employee.role == 'Doctor' %}
                
                <li class="{% if request.resolver_match.url_name == 'doctor-home-view' %}  active {% endif %}">
                    <a href="{% url 'appointments:doctor-home-view' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                </li>        
                <li class="submenu">
                    <a  href="#"><i class="fa fa-calendar"></i> <span> Appointments</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="{% if request.resolver_match.url_name == 'all-doctor-appointments' %} active {% endif %}" ><a href="{% url 'appointments:all-doctor-appointments' %}">All Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'pending-doctor-appointments' %} active {% endif %}"><a href="{% url 'appointments:pending-doctor-appointments' %}">Pending Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'approved-doctor-appointments' %} active {% endif %}"><a href="{% url 'appointments:approved-doctor-appointments' %}">Approved Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'completed-doctor-appointments' %} active {% endif %}"><a href="{% url 'appointments:completed-doctor-appointments' %}">Completed Appointments</a></li>
                    </ul>
                </li>
                
                            
                
                
                {% elif request.user.is_staff %} 
                
                <li class="{% if request.resolver_match.url_name == 'staff-home-view' %}  active {% endif %}">
                    <a href="{% url 'appointments:staff-home-view' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                </li>        
                <li class="submenu">
                    <a  href="#"><i class="fa fa-calendar"></i> <span> Appointments</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="{% if request.resolver_match.url_name == 'all-staff-appointments' %} active {% endif %}" ><a href="{% url 'appointments:all-staff-appointments' %}">All Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'pending-staff-appointments' %} active {% endif %}"><a href="{% url 'appointments:pending-staff-appointments' %}">Pending Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'approved-staff-appointments' %} active {% endif %}"><a href="{% url 'appointments:approved-staff-appointments' %}">Approved Appointments</a></li>
                        <li  class="{% if request.resolver_match.url_name == 'completed-staff-appointments' %} active {% endif %}"><a href="{% url 'appointments:completed-staff-appointments' %}">Completed Appointments</a></li>
                    </ul>
                </li>
                <li class="{% if request.resolver_match.url_name == 'all-doctors' %}  active {% endif %}">
                    <a href="{% url 'profiles:all-doctors' %}"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'all-employees' %}  active {% endif %}">
                    <a href="{% url 'profiles:all-employees' %}"><i class="fa fa-user-o"></i> <span>Employees</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'all-patients' %}  active {% endif %}">
                    <a href="{% url 'profiles:all-patients'  %}"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'all-ailments' %}  active {% endif %}">
                    <a href="{% url 'ailments:all-ailments'  %}"><i class="fa fa-hospital-o"></i> <span>Ailments</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'all-courses' %}  active {% endif %}">
                    <a href="{% url 'courses:all-courses'  %}"><i class="fa fa-book"></i> <span>Courses</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'all-departments' %}  active {% endif %}">
                    <a href="{% url 'departments:all-departments'  %}"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'all-institutions' %}  active {% endif %}">
                    <a href="{% url 'institutions:all-institutions'  %}"><i class="fa fa-cube"></i> <span>Institutions</span></a>
                </li>    

               {% endif %}
               
               {% if request.user.is_employee %}
               <li class="{% if request.resolver_match.url_name == 'general-employee-view-for-all-employees' %}  active {% endif %}">
                <a href="{% url 'appointments:general-employee-view-for-all-employees' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                </li>        
              
                <li class="{% if request.resolver_match.url_name == 'employee-profile' %}  active {% endif %}">
                    <a href="{% url 'profiles:employee-profile' request.user.employee.slug %}"><i class="fa fa-user-md"></i> <span>Profile</span></a>
                </li>    
                <li class="{% if request.resolver_match.url_name == 'employee-update-profile' %}  active {% endif %}">
                    <a href="{% url 'profiles:employee-update-profile' request.user.employee.slug %}"><i class="fa fa-user-md"></i> <span>Update Profile</span></a>
                </li>    
               {% endif %}
                
                    
               
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
    